/* --------------- основные настройки ---------*/
*{ 
	margin: 0; /* обнуление внешних отступов */
	padding: 0; /* обнуление внутренних отступов */
	border: none; /* обнуление границ у элементов */
    font-family: 'Arial', sans-serif; /* установлен шрифт всего сайта */
}
/* --------------- основные настройки ---------*/
.header {
    width: 100%;
}
.header_color {
    background-color: #053342;
    color: #fff;
}
.header__wrapper {
    max-width: 1000px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header__title {
    font-size: 60px;
    text-transform: uppercase;
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    padding: 20px 0;
}