/* --------------- основные настройки ---------*/

*{ 
	margin: 0; /* обнуление внешних отступов */
	padding: 0; /* обнуление внутренних отступов */
	border: none; /* обнуление границ у элементов */
    font-family: 'Arial', sans-serif; /* установлен шрифт всего сайта */
}

/* --------------- шапка сайта ---------*/

.header {
    width: 100%;
}
.header_color {
    background-color: #053342;
    color: #fff;
}
.header__wrapper {
    max-width: 1000px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header__title {
    font-size: 60px;
    text-transform: uppercase;
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    padding: 20px 0;
    text-shadow: 
                0px -1px 0px #000,
                0px 0px 10px rgba(255, 255, 255, 0.8);
}
.header__desc {
    margin-top: 10px;
    letter-spacing: 2px;
}

/* --------------- блок контент ---------*/

.content__wrapper {
    max-width: 1000px;
    margin: 0 auto;
}
.skills__title {
    text-align: center;
    font-size: 50px;
    padding: 50px;
}
.skills__box {
    width: 500px;
    margin: 0 auto;
}
.skills__element {
    margin-bottom: 10px;
}
.skill__name {
    margin-bottom: 10px;
}
.skill__bar {
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
}
.skill__progress {
    height: 100%;
    width: 0;
    background-color: #126ebe;   
}
.skill__progress_html {
    width: 90%;
}
.skill__progress_html5 {
    width: 80%;
}
.skill__progress_css {
    width: 90%;
}
.skill__progress_css3 {
    width: 80%;
}
.skill__progress_js {
    width: 90%;
}
.skill__progress_jquery {
    width: 80%;
}
.skill__progress_less {
    width: 90%;
}
.skill__progress_bem {
    width: 80%;
}
.skill__progress_git {
    width: 80%;
}